/AnagramGame/nbproject/private/
/AnagramGame/build/
/TesteGITHUB/nbproject/private/
/TesteGITHUB/build/
/AtividadeFutebol_JPA/nbproject/private/
/AtividadeAprofundamento_Futebol/AtividadeAprofundamento_Futebol/build/
/AtividadeAprofundamento_Futebol/AtividadeAprofundamento_Futebol/nbproject/private/
/AtividadeAprofundamento_Futebol/build/
/AtividadeAprofundamento_Futebol/nbproject/private/
/AtividadeAprofundamento_Futebol/dist/